.button {
  color: var(--button-text, #000000);
  background-color: var(--button-background, transparent);
  border: var(--button-border, none);
  display: block;
  margin-top: 8px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  transition: 0.3s;
}

.button a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 8px 12px 8px 36px;
  box-sizing: border-box;
}

.button a:hover {
  text-decoration: none;
  color: white;
}

.button:hover {
  filter: brightness(90%);
  transform: scale(1.05);
}

.icon {
  filter: var(--icon-filter, none);
  width: 16px;
  height: 16px;
  position: absolute;
  left: 12px;
  top: calc(50% - 8px);
}

.button.button-default {
  --button-text: #ffffff;
  --button-background: #2457f5;
  --button-border: 1px solid #ffffff;
}

.button-amazon {
  --button-text: #000000;
  --button-background: #ffffff;
  --button-border: 1px solid #212121;
}

.button-amazon-music {
  --button-text: #000000;
  --button-background: #25d1da;
}

.button-appstore {
  --button-text: #ffffff;
  --button-background: #000000;
  --button-border: 1px solid #ffffff;
}

.button-apple-music {
  --button-text: #ffffff;
  --button-background: #000000;
  --button-border: 1px solid #ffffff;
}

.button-apple-music-alt {
  --button-text: #ffffff;
  background-image: linear-gradient(to bottom, #fb5c74, #fa233b);
}

.button-apple-podcasts {
  --button-text: #ffffff;
  --button-background: #000000;
  --button-border: 1px solid #ffffff;
}

.button-apple-podcasts-alt {
  --button-text: #ffffff;
  background-image: linear-gradient(to bottom, #f452ff, #832bc1);
}

.button-bandcamp {
  --button-text: #ffffff;
  --button-background: #1d9fc3;
}

.button-behance {
  --button-text: #ffffff;
  --button-background: #0057ff;
  --button-border: 1px solid #ffffff;
}

.button-bluesky {
  --button-text: #ffffff;
  --button-background: #1185fe;
}

.button-bluesky-alt {
  --button-text: #000000;
  --button-background: #ffffff;
  --button-border: 1px solid #000000;
}

.button-coffee {
  --button-text: #000000;
  --button-background: #ffdd00;
}

.button-cal {
  --button-text: #ffffff;
  --button-background: #292929;
  --button-border: 1px solid #ffffff;
}

.button-calendly {
  --button-text: #ffffff;
  --button-background: #006bff;
}

.button-cash-app {
  --button-text: #ffffff;
  background-image: linear-gradient(to bottom, #00d64b, #00c244);
}

.button-dev-to {
  --button-text: #000000;
  --button-background: #f5f5f5;
  --button-border: 1px solid #212121;
}

.button-discogs {
  --button-text: #000000;
  --button-background: #ffffff;
  --button-border: 1px solid #000000;
}

.button-discogs-alt {
  --button-text: #ffffff;
  --button-background: #000000;
  --button-border: 1px solid #ffffff;
}

.button-discord {
  --button-text: #ffffff;
  --button-background: #5865f2;
}

.button-dribbble {
  --button-text: #000000;
  --button-background: #ffffff;
  --button-border: 1px solid #212121;
}

.button-etsy {
  --button-text: #ffffff;
  --button-background: #f45800;
}

.button-faceb {
  --button-text: #ffffff;
  --button-background: #1877f2;
}

.button-messenger {
  --button-text: #ffffff;
  background-image: linear-gradient(
    25deg,
    #0099ff,
    #5f5dff,
    #a033ff,
    #c740cc,
    #ff5280,
    #ff7061
  );
}

.button-figma {
  --button-text: #ffffff;
  --button-background: #000000;
  --button-border: 1px solid #ffffff;
}

.button-fiverr {
  --button-text: #ffffff;
  --button-background: #1dbf73;
}

.button-flickr {
  --button-text: #ffffff;
  --button-background: #000000;
  --button-border: 1px solid #ffffff;
}

.button-github {
  --button-text: #ffffff;
  --button-background: #000000;
  --button-border: 1px solid #ffffff;
}

.button-gitlab {
  --button-text: #ffffff;
  --button-background: #6151b2;
}

.button-gofundme {
  --button-text: #ffffff;
  --button-background: #02a95c;
}

.button-goodreads {
  --button-text: #333333;
  --button-background: #f3f1e6;
  --button-border: 1px solid #212121;
}

.button-google {
  --button-text: #ffffff;
  --button-background: linear-gradient(
    90deg,
    #4285f4,
    #34a853,
    #fbbc05,
    #ea4335
  );
}

.button-google-alt {
  --button-text: #ffffff;
  --button-background: linear-gradient(
    90deg,
    #4285f4,
    #34a853,
    #fbbc05,
    #ea4335
  );
}

.button-google-black {
  --button-text: #ffffff;
  --button-background: #000000;
  --button-border: 1px solid #ffffff;
}

.button-playstore {
  --button-text: #ffffff;
  --button-background: #000000;
  --button-border: 1px solid #ffffff;
}

.button-google-scholar {
  --button-text: #000000;
  --button-background: #ffffff;
  --button-border: 1px solid #212121;
}

.button-hashnode {
  --button-text: #000000;
  --button-background: #ffffff;
  --button-border: 1px solid #212121;
}

.button-instagram {
  --button-text: #ffffff;
  background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
}

.button-kick {
  --button-text: #ffffff;
  --button-background: #000000;
  --button-border: 1px solid #ffffff;
}

.button-kick-alt {
  --button-text: #000000;
  --button-background: #01e701;
}

.button-kickstarter {
  --button-text: #ffffff;
  --button-background: #05ce78;
}

.button-kit {
  --button-text: #ffffff;
  --button-background: #000000;
  --button-border: 1px solid #ffffff;
}

.button-ko-fi {
  --button-text: #ffffff;
  --button-background: #000000;
  --button-border: 1px solid #ffffff;
}

.button-last-fm {
  --button-text: #ffffff;
  --button-background: #d51007;
}

.button-letterboxd {
  --button-text: #ffffff;
  --button-background: #2c3440;
  --button-border: 1px solid #ffffff;
}

.button-line {
  --button-text: #ffffff;
  --button-background: #06c755;
}

.button-linked {
  --button-text: #ffffff;
  --button-background: #2867b2;
}

.button-mailchimp {
  --button-text: #000000;
  --button-background: #ffe01b;
}

.button-mastodon {
  --button-text: #ffffff;
  --button-background: #17063b;
  --button-border: 1px solid #ffffff;
}

.button-medium {
  --button-text: #ffffff;
  --button-background: #000000;
  --button-border: 1px solid #ffffff;
}

.button-microsoft {
  --button-text: #ffffff;
  --button-background: #000000;
  --button-border: 1px solid #ffffff;
}

.button-notion {
  --button-text: #000000;
  --button-background: #ffffff;
  --button-border: 1px solid #212121;
}

.button.button-obsidian {
  --button-text: #ffffff;
  --button-background: #262626;
  --button-border: 1px solid #ffffff;
}

.button-onlyfans {
  --button-text: #ffffff;
  --button-background: #00aeef;
}

.button-patreon {
  --button-text: #ffffff;
  --button-background: #000000;
  --button-border: 1px solid #ffffff;
}

.button-paypal {
  --button-text: #ffffff;
  --button-background: #002991;
  --button-border: 1px solid #ffffff;
}

.button-pinterest {
  --button-text: #000000;
  --button-background: #ffffff;
  --button-border: 1px solid #212121;
}

.button-product-hunt {
  --button-text: #000000;
  --button-background: #ffffff;
  --button-border: 1px solid #212121;
}

.button-read-cv {
  --button-text: #ffffff;
  --button-background: #000000;
  --button-border: 1px solid #ffffff;
}

.button-reddit {
  --button-text: #ffffff;
  --button-background: #ff4500;
}

.button-shop {
  --button-text: #ffffff;
  --button-background: #5a31f4;
}

.button-signal {
  --button-text: #ffffff;
  --button-background: #3a76f0;
}

.button-slack {
  --button-text: #000000;
  --button-background: #ffffff;
  --button-border: 1px solid #212121;
}

.button-snapchat {
  --button-text: #000000;
  --button-background: #fffc00;
}

.button-soundcloud {
  --button-text: #ffffff;
  --button-background: #ff5500;
}

.button-spotify {
  --button-text: #191414;
  --button-background: #1db954;
}

.button-spotify-alt {
  --button-text: #ffffff;
  --button-background: #191414;
  --button-border: 1px solid #ffffff;
}

.button-square {
  --button-text: #ffffff;
  --button-background: #006aff;
}

.button-stack-overflow {
  --button-text: #000000;
  --button-background: #ffffff;
  --button-border: 1px solid #000000;
}

.button-steam {
  --button-text: #ffffff;
  background-image: linear-gradient(90deg, #08bbff, #2b75ff);
}

.button-steam-alt {
  --button-text: #ffffff;
  background-image: linear-gradient(90deg, #09172a, #072a57, #0c5085);
  --button-border: 1px solid #ffffff;
}

.button-strava {
  --button-text: #ffffff;
  --button-background: #fc5200;
}

.button-substack {
  --button-text: #ffffff;
  --button-background: #ff6719;
}

.button-telegram {
  --button-text: #ffffff;
  --button-background: #3faee8;
}

.button-threads {
  --button-text: #ffffff;
  --button-background: #000000;
  --button-border: 1px solid #ffffff;
}

.button-threema {
  --button-text: #000000;
  --button-background: #3fe669;
}

.button-tiktok {
  --button-text: #ffffff;
  --button-background: #000000;
  --button-border: 1px solid #ffffff;
}

.button-trello {
  --button-text: #ffffff;
  --button-background: #0065ff;
}

.button-tumb {
  --button-text: #ffffff;
  --button-background: #131313;
  --button-border: 1px solid #ffffff;
}

.button-twitch {
  --button-text: #ffffff;
  --button-background: #9146ff;
}

.button-unsplash {
  --button-text: #000000;
  --button-background: #ffffff;
  --button-border: 1px solid #212121;
}

.button-venmo {
  --button-text: #ffffff;
  --button-background: #008cff;
}

.button-vimeo {
  --button-text: #ffffff;
  --button-background: #1ab7ea;
}

.button-vsco {
  --button-text: #ffffff;
  --button-background: #000000;
  --button-border: 1px solid #ffffff;
}

.button-whatsapp {
  --button-text: #ffffff;
  --button-background: #455a64;
}

.button-wordpress {
  --button-text: #ffffff;
  --button-background: #3858e9;
}

.button-x {
  --button-text: #ffffff;
  --button-background: #000000;
  --button-border: 1px solid #ffffff;
}

.button-yt {
  --button-text: #ffffff;
  --button-background: #282828;
  --button-border: 1px solid #ffffff;
}

.button-yt-alt {
  --button-text: #ffffff;
  --button-background: #ff0000;
}

.button-zoom {
  --button-text: #ffffff;
  --button-background: #0b5cff;
  --button-border: 1px solid #ffffff;
}
